@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Inter;
    background-color: #121014;
    color: #F0FDED;
}

/* This section is so the game can run in a browser with the right scaling */
.browserContainer {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 455px;
    background-color: #201A23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px black;
}

.dragArea {
    -webkit-app-region: drag;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    height: 55px;
    font-weight: 800;
    background-color: #21A179;
    filter: drop-shadow(0px 0px 20px black);
    text-shadow: 0px 0px 5px #115741;
    z-index: 3;
}

.dragArea i {
    margin: 3px 5px 0px 10px;
    transition: 200ms;
}

#board {
    background-color: #0C3B2C;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 40px;
    top: 95px;
    filter: drop-shadow(0px 0px 20px black);
    border-radius: 15px;
    transform: scale(1);
    transition: 500ms;
    z-index: 2;
}

#board table {
    width: 100%;
    height: 100%;
    margin: 0;
    border-spacing: 100px;
    border-collapse: collapse;
}

#board td {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    filter: drop-shadow(0px 0px 1px #030d09);
    transform: scale(0.8);
}

#board .validPosition {
    background-color: #0C3B2C;
    filter: drop-shadow(0px 0px 2px gold);
}

.hidden {
    transform: scale(0) !important;
}

#menu {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 100px 25px 0px 25px;
    text-align: center;
    box-sizing: border-box;
    z-index: 0;
}

#menu button {
    border: none;
    outline: none;
    font-family: Inter;
    font-weight: 200;
    font-size: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0px 10px;
    background-color: #21A179;
    color: #F0FDED;
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 0px 10px black;
    transition: 100ms;
    cursor: pointer;
}

#menu button:hover {
    transform: scale(1.15);
    background-color: #56dbb1;
}

#turnIndicator {
    opacity: 0;
}

.tiActive {
    opacity: 1 !important;
}

#message {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 300px;
    transform: rotate(5deg) scale(0);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    z-index: 5;
    transition: 500ms;
}

#message h1 {
    margin: 0;
    font-size: 20px;
}

.messageShown {
    transform: rotate(5deg) scale(1) !important;
}

#dropdownMenu {
    width: 250px;
    height: 300px;
    background-color: #121014;
    position: absolute;
    top: -300px;
    right: 0;
    z-index: 2;
    transition: 500ms;
    border-radius: 0 0 0 30px;
    box-shadow: 0 0 20px black;
    box-sizing: border-box;
    padding: 10px 20px 20px;
    font-size: 20px;
    opacity: 0;
}

#dropdownMenu i {
    font-weight: 800;
    color: #56dbb1;
    margin-right: 5px;;
}

#dropdownMenu span {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.menuActive {
    top: 55px !important;
    opacity: 1 !important;
}

i:active {
    transform: scale(0.8);
}